<!doctype html>
   <html>
     <head>
         <title>Netology diplom</title>
     </head>
     <body>
       <h2> Netology diplom by Nikolaev Evgeny </h2>
       <p><strong>Configure your world your way &#153;</strong></p>
     </body>
   </html>